GITHUB_USER=tpasin
GITHUB_USER_NAME=Thiago Pasin
GITHUB_USER_EMAIL=pasin.thiago@gmail.com
GITHUB_REPO=geek-movie-shop

DOCKERHUB_USER=tpasin
TAG=latest

PUBLIC_URL=http://YOUR_INSTANCE_HOSTNAME:8888

NEW_RELIC_LICENSE_KEY=8cbcc4c865352fa9cdd29cb73f1a724e5609NRAL
CLUSTER_NAME=movieshopMS

NEW_RELIC_BROWSER_LICENSE_KEY=NRJS-7eda8d7ddef5df77f88
NEW_RELIC_BROWSER_APPLICATION_ID=582431931
